<!-- templates/task_detail.html -->
{% extends "base.html" %}

{% block content %}
<p><a href="{% url 'task_list' %}" class="text-decoration-none">&#8592; Back to Task List</a></p>
<div class="task-entry">
  <h2>{{ object.title }}</h2>
  <p>{{ object.description }}</p>
  <p class="text-muted">Due on {{ object.due_date }}</p>
</div>
<div class="text-end">
  <p><a href="{% url 'task_edit' task.pk %}" class="btn btn-outline-secondary">Edit</a>
    <a href="{% url 'task_delete' task.pk %}" class="btn btn-outline-danger">Delete</a>
  </p>
</div>
{% endblock content %}