<!-- templates/task_detail.html -->
{% extends "base.html" %}

{% block content %}
<p><a href="{% url 'task_list' %}" class="text-decoration-none">< Back to Task List</a></p>
<div class="task-entry">
  <h2>{{ object.title }}</h2>
  <p>{{ object.description }}</p>
  <p>{{ object.due_date }}</p>
</div>
<div>
  <p><a href="{% url 'task_edit' task.pk %}" class="btn btn-outline-secondary btn-sm">Edit</a>
    <a href="{% url 'task_delete' task.pk %}" class="btn btn-outline-danger btn-sm">Delete</a>
  </p>
</div>
{% endblock content %}